.animation-svg{
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    /* opacity:1; */
    padding: 0 3rem;
   animation:opacity 5s ease-in-out ;
}
/* .animation-svg.remove{
    opacity: 0;
} */
@keyframes opacity {
    0% {
opacity: 1;
    }
    100%{
        opacity: 0.1;
    }
}
.welcome-para{
    color: white;
}

@media screen and (max-width: 1200px) {
    .animation-svg{
        font-size: 62%;
    }
}
@media screen and (max-width: 500px) {
    .animation-svg{
    text-align: end;
    padding: 0 2rem;
    }
}