.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 2rem;
  background-color: #2e073f;
  align-items: center;
  font-weight: bolder;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  transition: top 0.3s;
  z-index: 333;
}
.header-name a {
  color: #ebd3f8;
  font-size: large;
}
.header-name h2 {
  font-family: "Pacifico", cursive;
  letter-spacing: 2px;
}
.header-name h2 span {
  color: red;
  font-family: "Pacifico", cursive;
}
.navbar--hidden {
  top: -100px;
}

.nav {
  display: flex;
  gap: 1.5rem;
}
.nav a {
  padding: 0.8rem;
  color: #caf4ff;
  text-decoration: none;
}
.nav a:active,
.nav a:focus,
.hire-button a:focus {
  color: green;
}
.hire-button a {
  color: #caf4ff;
}
.nav a:hover,
.hire-button a:hover {
  color: #5ab2ff;
}

/* From Uiverse.io by joe-watson-sbf */
.hire-btn {
  font-size: 17px;
  font-weight: bolder;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: white;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
}

.hire-btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: red;
  transition: 0.5s ease;
}

.hire-btn:hover {
  color: #2e073e;
  transition-delay: 0.5s;
}

.hire-btn:hover::before {
  width: 100%;
}

.hire-btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #d4f0f6;
  transition: 0.4s ease;
  z-index: -1;
}

.hire-btn:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}

@media screen and (max-width: 750px) {
  .nav {
    display: none;
  }
}
