.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 2rem;
  background-color: #2e073f;
  align-items: center;
  font-weight: bolder;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  transition: top 0.3s;
  z-index: 333;
}
.header-name a {
  color: #ebd3f8;
  font-size: large;
}
.header-name h2 {
  font-family: "Pacifico", cursive;
  letter-spacing: 2px;
}
.header-name h2 span {
  color: red;
  font-family: "Pacifico", cursive;
}
.navbar--hidden {
  top: -100px;
}

.nav {
  display: flex;
  gap: 1.5rem;
}
.nav a {
  padding: 0.8rem;
  color: #caf4ff;
  text-decoration: none;
}
.nav a:active,
.nav a:focus,
.hire-button a:focus {
  color: green;
}
.hire-button a {
  color: #caf4ff;
}
.nav a:hover,
.hire-button a:hover {
  color: #5ab2ff;
}
@media screen and (max-width: 750px) {
  .nav {
    display: none;
  }
}
