.main{
    background-color: #EBD3F8;
    transition: all 2s ease-in-out;
    animation: render 2s ease-out;
    scroll-behavior: smooth;
   
}
@keyframes render {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

