@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --animate-spin-slow: spin 8s linear infinite;
  --animate-shimmer: shimmer 2s linear infinite;
}

@keyframes shimmer {
  from { transform: translateX(-100%); }
  to { transform: translateX(100%); }
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #09090b; 
}
::-webkit-scrollbar-thumb {
  background: #27272a; 
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f3f46; 
}